/* Estilos mios */
.canvas{
    z-index: 1;
    position: absolute;  
    top: 100px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
  }
  
  .left{
    left: 10%;
  }
  
  .right{
    right: 10%;
  }

  .ranking{
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    background-color: aliceblue;
  }

  .table{
    vertical-align: middle;
  }

  html{
    overflow: hidden;
  }

  body{
    overflow: hidden;
    touch-action: none;
    position: relative;
    margin: 0;
    padding: 0;
  }

  /* .sortable-handler {
    touch-action: none;
  } */